<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.phonegap.yoga_localdb"
        versionCode="10" 
        version   = "1.0.0">

    <!-- versionCode is optional and Android only -->

    <name>Yoga with Local Database</name>

    <description>
        An example of a mobile app that pulls data from the network to a local database. 
    </description>

    <author href="https://labs.zenterp.co" email="me@stevenzeiler.com">
        Steven Zeiler
    </author>
</widget>